*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background-color: hsl(233, 47%, 7%);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    max-width: 100vw;
    min-height: 100vh;
}

.todoconteudo{
    display: flex;
    align-items: center;
    justify-content: center;
}

main{
    width: 70vw;
    height: 60vh;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr;
}

.texto{
    background-color: hsl(244, 38%, 16%);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    border-radius: 10px 0px 0px 10px;
}
.conteudo1{
    padding: 10px;
    width: 90%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding-top: 50px;
    padding: 30px;
}

li{
    list-style: none;
    font-size: 25px;
    font-weight: 600;
    text-align:left;
    display: flex;
    align-items:flex-start;
    flex-direction: column;
    font-family: 'Lexend Deca', sans-serif;
}
ul{
    list-style: none;
    color: hsl(0, 0%, 100%);
    font-size: 30px;
    font-weight: 600;
    text-align: left;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    font-family: 'Lexend Deca', sans-serif;
}
b.txtli{
    font-size: 12px;
}
.txtli{
    font-size: 25px;
    color: hsla(0, 0%, 100%, 0.6);
    font-family: 'Lexend Deca', sans-serif;
    letter-spacing: 1px;
    padding-top: 5px;
    padding-bottom: 10px;
    text-align: center;
}
.ado12{
    text-align: center;
}
.cortxt{
    color: hsl(277, 64%, 61%);
}
h1{
    text-align: left;
    font-family: 'Inter', sans-serif;
}
h1,.subtitulo{
    text-align: left;
    color: hsl(0, 0%, 100%);
}
.subtitulo{
    color: hsla(0, 0%, 100%, 0.6);
    font-size: 15px;
    text-align: left;
    padding-bottom: 60px;
    font-family: 'Lexend Deca', sans-serif;
    letter-spacing: 1px;
    line-height: 21px;
}
.foto{
    border-radius: 10px 10px 10px 10px;
    position: relative;
}
img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 0px 10px 10px 0px;
    filter:url()
}
.foto::after{
    position: absolute;
    content: '';
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background-color: hsl(277, 67%, 61%);
    opacity: .6;
    border-radius: 0px 10px 10px 0px;
}
.txtli{
    font-size: 9px;
    color: hsla(0, 0%, 100%, 0.6);
    font-family: 'Lexend Deca', sans-serif;
    letter-spacing: 1px;
}

/*responsividade*/

/*responsividade para desktop*/

@media (min-width: 1025px) and (min-height: 1200px)
{
    main{
        width: 70vw;
        height: 60vh;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: 1fr;
        overflow-x: hidden;
    }
    .conteudo1{
        padding: 10px;
        width: 90%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding-top: 50px;
        padding: 30px;
    }
    h1{
        font-size: 35px;
        text-align: left;
        font-family: 'Inter', sans-serif;
    }
    li{
        list-style: none;
        font-size: 30px;
        font-weight: 600;
        text-align:left;
        display: flex;
        align-items:flex-start;
        flex-direction: column;
        font-family: 'Lexend Deca', sans-serif;
    }
    ul{
        list-style: none;
        color: hsl(0, 0%, 100%);
        font-size: 20px;
        font-weight: 600;
        text-align: left;
        display: flex;
        justify-content: space-between;
        flex-direction: row;
        font-family: 'Lexend Deca', sans-serif;
    }
    .txtli{
        font-size: 12px;
        color: hsla(0, 0%, 100%, 0.6);
        font-family: 'Lexend Deca', sans-serif;
        letter-spacing: 1px;
        padding-top: 5px;
        padding-bottom: 10px;
        text-align: left;
    }
    .ado12{
        text-align: left;
    }
}

/*responsividade para dispositivos mobile*/

@media only screen and (max-width: 540px) and (max-height: 950px){
    .conteudo1{
        padding: 10px;
        width: 90%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        padding-top: 30px;
        padding: 30px;
        overflow-x: hidden;
        overflow: hidden;
    }
    main{
        width: 80vw;
        height: 90vh;
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: 1fr;
        overflow-x: hidden;
    }
    .texto{
        grid-row-start: 2;
        grid-row-end: 2;
        border-radius: 0px 0px 10px 10px;
        height: 60vh;
    }
    .conteudo1{
        border-radius: 0px 0px 10px 10px;
    }
    h1{
        text-align: center;
        font-size: 25px;
        padding-bottom: 2vh;
    }
    .subtitulo{
        text-align: center;
        font-size: 13px;
        padding-top: 0;
        letter-spacing: normal;
        vertical-align:text-bottom;
    }
    .foto{
        border-radius: 10px 10px 10px 0px;
        background-image: url(./image-header-mobile.jpg);
        height: 30vh;
    }
    img{
        border-radius: 10px 10px 0px 0px;
        height: 100%;
        object-fit: cover;
        width: 100%;
    }
    .foto::after{
        border-radius: 10px 10px 0px 0px;
    }
    ul{
        display: block;
        list-style: none;
        color: hsl(0, 0%, 100%);
        padding-bottom: 1vw;
        text-align:start;
    }    
    li{
        font-size: 25px;
        font-weight: 600;
        text-align: center;
        display: flex;
        align-items:center;
        flex-direction: column;
        font-family: 'Lexend Deca', sans-serif;
    }
    .txtli{
        font-size: 15px;
        color: hsla(0, 0%, 100%, 0.6);
        font-family: 'Lexend Deca', sans-serif;
        letter-spacing: 1px;
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .ado12{
        text-align: center;
        padding-right: 0;
    }
}

/*Dispositivios menores*/

@media (max-width: 400px) and (max-height: 750px) {
    h1{
        text-align: center;
        font-size: 20px;
        padding-bottom: 1vh;
    }


    ul{
        list-style: none;
        color: hsl(0, 0%, 100%);
        padding-bottom: 1vw;
        text-align:start;
        padding-top: -5px;
    }    
    .subtitulo{
        text-align: center;
        font-size: 11px;
        padding-top: 0;
        letter-spacing: normal;
        vertical-align:text-bottom;
    }
    .conteudo1{
        padding: 10px;
        width: 90%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        padding-top: 14px;
        padding: 14px;
        overflow: hidden;
    }
    .ado12{
        text-align: center;
    }
    h1{
        text-align: start;
        font-size: 25px;
        padding-bottom: 1vh;
    }
    ul{
        list-style: none;
        color: hsl(0, 0%, 100%);
        padding-bottom: 0vw;
        text-align:start;
        font-size: 20px;
    }    
    li{
        font-size: 15px;
        font-weight: 600;
        text-align: start;
        display: flex;
        align-items:center;
        flex-direction: column;
        font-family: 'Lexend Deca', sans-serif;
    }
    .txtli{
        color: hsla(0, 0%, 100%, 0.6);
        font-family: 'Lexend Deca', sans-serif;
        letter-spacing: 1px;
    }
    b.txtli{
        font-size: 12px;
    }
    .subtitulo{
        text-align: start;
        font-size: 13px;
        padding-top: 0;
        letter-spacing: 1px;
        line-height: 1;
        vertical-align:text-bottom;
    }
}
@media (max-width: 400px) and (max-height: 655px){
    .conteudo1{
        padding: 10px;
        width: 90%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        padding-top: 9px;
        padding: 9px;
        overflow-x: hidden;
        overflow-y: hidden;
    }
    h1{
        text-align: center;
        font-size: 20px;
        padding-bottom: 1vh;
    }
    ul{
        list-style: none;
        color: hsl(0, 0%, 100%);
        padding-bottom: 1vw;
        text-align:start;
    }    
    li{
        font-size: 15px;
        font-weight: 600;
        text-align: center;
        display: flex;
        align-items:center;
        flex-direction: column;
        font-family: 'Lexend Deca', sans-serif;
    }
    .txtli{
        font-size: 10px;
        color: hsla(0, 0%, 100%, 0.6);
        font-family: 'Lexend Deca', sans-serif;
        letter-spacing: 1px;
        padding-top: 8px;
        padding-bottom: 8px;
    }
    .subtitulo{
        text-align: center;
        font-size: 10px;
        padding-top: 0;
        letter-spacing: normal;
        vertical-align:text-bottom;
    }
}

/*Responsividade suface duo*/
@media only screen and (width: 540px) and (height: 720px)
{
    ul{
        display: flex;
        list-style: none;
        color: hsl(0, 0%, 100%);
        padding-bottom: 1vw;
        text-align:start;
    }
    img{
        height: 100%;
        width: 100%;
        border-radius: 10px 10px 0px 0px;
        filter:url()
    }
    main{
        width: 65vw;
        height: 90vh;
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: 1fr;
        overflow-x: hidden;
        overflow: hidden;
    }
    .texto{
        grid-row-start: 2;
        grid-row-end: 2;
        border-radius: 0px 0px 10px 10px;
        height: 60vh;
    }
    h1{
        text-align: center;
        font-size: 30px;
        padding-bottom: 0vh;
    }
    ul{
        list-style: none;
        color: hsl(0, 0%, 100%);
        padding-bottom: 1vw;
        text-align:start;
        font-size: 40px;
    }    
    li{
        font-size: 25px;
        font-weight: 600;
        text-align: center;
        display: flex;
        align-items:center;
        flex-direction: column;
        font-family: 'Lexend Deca', sans-serif;
    }
    .txtli{
        font-size: 20px;
        color: hsla(0, 0%, 100%, 0.6);
        font-family: 'Lexend Deca', sans-serif;
        letter-spacing: 1px;
    }
    b.txtli{
        font-size: 10px;
    }
    .subtitulo{
        text-align: center;
        font-size: 16px;
        padding-top: 0;
        letter-spacing: 1px;
        line-height: 1;
        vertical-align:text-bottom;
    }
    .conteudo1{
        border-radius: 0px 0px 10px 10px;
    }
    .foto::after{
        border-radius: 10px 10px 0px 0px;
    }
}

/*Responsividade sufave pro 7*/
@media only screen and (width: 912px) and (height: 1368px)
{
    
    ul{
        display: flex;
        list-style: none;
        color: hsl(0, 0%, 100%);
        padding-bottom: 1vw;
        text-align:start;
    }
    img{
        height: 100%;
        width: 100%;
        border-radius: 10px 10px 0px 0px;
        filter:url()
    }
    main{
        width: 75vw;
        height: 90vh;
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: 1fr;
        overflow-x: hidden;
        overflow: hidden;
        border-radius: 0px 0px 10px 10px;
    }
    .texto{
        grid-row-start: 2;
        grid-row-end: 2;
        border-radius: 0px 0px 10px 10px;
        height: 50vh;
    }
    .conteudo1{
        border-radius: 0px 0px 10px 10px;
    }
    h1{
        text-align: center;
        font-size: 50px;
        padding-bottom: 0vh;
    }
    ul{
        list-style: none;
        color: hsl(0, 0%, 100%);
        padding-bottom: 1vw;
        text-align:start;
        font-size: 40px;
    }    
    li{
        font-size: 40px;
        font-weight: 600;
        text-align: center;
        display: flex;
        align-items:center;
        flex-direction: column;
        font-family: 'Lexend Deca', sans-serif;
    }
    .txtli{
        font-size: 40px;
        color: hsla(0, 0%, 100%, 0.6);
        font-family: 'Lexend Deca', sans-serif;
        letter-spacing: 1px;
    }
    b.txtli{
        font-size: 20px;
    }
    .subtitulo{
        text-align:start;
        font-size: 30px;
        padding-top: 0;
        letter-spacing: 1px;
        line-height: 1;
        vertical-align:text-bottom;
    }
    .foto::after{
        border-radius: 10px 10px 0px 0px;
    }
}

/*responsividade para ipad*/

@media only screen and (width: 820px) and (height: 1180px)
{
    ul{
        display: flex;
        list-style: none;
        color: hsl(0, 0%, 100%);
        padding-bottom: 1vw;
        text-align:start;
    }
    img{
        height: 100%;
        width: 100%;
        border-radius: 0px 10px 10px 0px;
        filter:url()
    }
    main{
        width: 75vw;
        height: 90vh;
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: 1fr;
        overflow-x: hidden;
        overflow: hidden;
        border-radius: 0px 0px 10px 10px;
    }
    .texto{
        grid-row-start: 2;
        grid-row-end: 2;
        border-radius: 0px 10px 10px 10px;
        height: 50vh;
    }
    .conteudo1{
        border-radius: 0px 0px 10px 10px;
    }
    h1{
        text-align: start;
        font-size: 43px;
        padding-bottom: 0vh;
    }
    ul{
        list-style: none;
        color: hsl(0, 0%, 100%);
        padding-bottom: 1vw;
        text-align:start;
        font-size: 40px;
    }    
    li{
        font-size: 40px;
        font-weight: 600;
        text-align: center;
        display: flex;
        align-items:center;
        flex-direction: column;
        font-family: 'Lexend Deca', sans-serif;
    }
    .txtli{
        font-size: 40px;
        color: hsla(0, 0%, 100%, 0.6);
        font-family: 'Lexend Deca', sans-serif;
        letter-spacing: 1px;
    }
    b.txtli{
        font-size: 18px;
    }
    .subtitulo{
        text-align:start;
        font-size: 25px;
        padding-top: 0;
        letter-spacing: 1,5px;
        line-height: 1;
        vertical-align:text-bottom;
    }
    .foto::after{
        border-radius: 10px 10px 0px 0px;
    }
}
/*ipad mini*/
@media only screen and (width: 768px) and (height: 1024px){
    ul{
        display: flex;
        list-style: none;
        color: hsl(0, 0%, 100%);
        padding-bottom: 1vw;
        text-align:start;
    }
    img{
        height: 100%;
        width: 100%;
        border-radius: 0px 10px 10px 0px;
        filter:url()
    }
    main{
        width: 75vw;
        height: 90vh;
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: 1fr;
        overflow-x: hidden;
        overflow: hidden;
        border-radius: 0px 0px 10px 10px;
    }
    .texto{
        grid-row-start: 2;
        grid-row-end: 2;
        border-radius: 0px 0px 10px 10px;
        height: 60vh;
    }
    .conteudo1{
        border-radius: 0px 0px 10px 10px;
    }
    h1{
        text-align: start;
        font-size: 38px;
        padding-bottom: 0vh;
    }
    ul{
        list-style: none;
        color: hsl(0, 0%, 100%);
        padding-bottom: 10vw;
        text-align:start;
        font-size: 40px;
    }    
    li{
        font-size: 32px;
        font-weight: 600;
        text-align: start;
        display: flex;
        align-items:center;
        flex-direction: column;
        font-family: 'Lexend Deca', sans-serif;
    }
    .txtli{
        font-size: 40px;
        color: hsla(0, 0%, 100%, 0.6);
        font-family: 'Lexend Deca', sans-serif;
        letter-spacing: 1px;
    }
    b.txtli{
        font-size: 15px;
    }
    .subtitulo{
        text-align:start;
        font-size: 23px;
        padding-top: 0;
        letter-spacing: 1px;
        line-height: 1;
        vertical-align:text-bottom;
    }
    .foto{
        border-radius: 10px 10px 10px 0px;
        background-image: url(./image-header-mobile.jpg);
        height: 40vh;
    }
    .foto::after{
        border-radius: 10px 10px 0px 0px;
    }
}

/*desktop de notebok e tablete tela media*/
@media only screen and (min-width: 541px) and (max-width: 900px){
    ul{
        display: flex;
        list-style: none;
        color: hsl(0, 0%, 100%);
        padding-bottom: 1vw;
        text-align:start;
    }
    img{
        height: 100%;
        width: 100%;
        border-radius: 10px 10px 0px 0px;
        filter:url()
    }
    main{
        width: 65vw;
        height: 90vh;
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: 1fr;
        overflow-x: hidden;
        overflow: hidden;
    }
    .texto{
        grid-row-start: 2;
        grid-row-end: 2;
        border-radius: 0px 0px 10px 10px;
        height: 60vh;
    }
    .conteudo1{
        border-radius: 0px 0px 10px 10px;
    }
    h1{
        text-align: start;
        font-size: 30px;
        padding-bottom: 0vh;
    }
    ul{
        list-style: none;
        color: hsl(0, 0%, 100%);
        padding-bottom: 10vw;
        text-align:start;
        font-size: 40px;
    }    
    li{
        font-size: 28px;
        font-weight: 600;
        text-align: start;
        display: flex;
        align-items:center;
        flex-direction: column;
        font-family: 'Lexend Deca', sans-serif;
    }
    .txtli{
        color: hsla(0, 0%, 100%, 0.6);
        font-family: 'Lexend Deca', sans-serif;
        letter-spacing: 1px;
    }
    b.txtli{
        font-size: 12px;
    }
    .subtitulo{
        text-align:start;
        font-size: 18px;
        padding-top: 0;
        letter-spacing: 1px;
        line-height: 1;
        vertical-align:text-bottom;
    }
    .foto{
        border-radius: 10px 10px 0px 0px;
        background-image: url(./image-header-mobile.jpg);
        height: 40vh;
    }
    .foto::after{
        border-radius: 10px 10px 0px 0px;
    }
}